[submodule "deps/esp-idf"]
	path = deps/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "www"]
	path = www
	url = https://github.com/scientisst/scientisst-sense-firmware-config.git
