build/
esp-idf-tools/
.vscode
.directory
.cache
.idea
cmake-build-debug
cmake-build-release
includes_vscode.txt
performance.txt
**/.cache
/SDCardFileConverter/aaa.csv
/SDCardFileConverter/acquisition_datapoints0.bin
