[submodule "deps/esp-idf"]
	path = deps/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "www"]
	path = www
	url = https://github.com/scientisst/scientisst-sense-firmware-config.git
[submodule "deps/BNO055_driver"]
	path = deps/BNO055_driver
	url = git@github.com:boschsensortec/BNO055_driver.git
